/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */
body {
	background: white;
}

p {
	font-family:arial;
	color: black;
}

h1 {
	color:red;
	text-align:center;
}

h3 {
	text-align: center;
	color: black;
	font-family: arial;
        margin: 3%;
}

#header-title {
	color:LawnGreen;
	text-align:center;
	padding: 40px 3px 5px;
	font-family: 'Handlee', cursive;
	font-size: 60px;
}

#header-subtitle {
	color: Navy;
	text-align: left;
	margin: 50px 50px;
	font-family: 'Lato';
	font-size: 20px;
}

.header {
	background-image: url("http://cristykoebler.com/picture_library/gray_textured_bg.png");
	background-color: transparent;
	margin-top: 100px;
	height: 300px;
}

.recent-work-box {
	width: 100px;
	height: 100px;
	padding: 4%;
    float: left;
    margin: 40px;
    border: 5px solid lightgrey;
}

#box-1 {
	background: red;

}

#box-2 {
	background: blue;

}

#box-3 {
	background: green;

}

#box-4 {
	background: yellow;
        clear: both;

}

#box-5 {
	background: orange;

}

#box-6 {
	background: purple;

}

..recent-work-table {
	text-align: center;
	vertical-align: center;
	width: 500px;
	height: 500px;
    /*float: left;*/
    margin: 40px 40px;
	clear: both;
}

#table-r1-c1 {
	background-color: red;
    border: 5px solid lightgrey;
/*maybe put margins here?*/
}

#table-r1-c2 {
	background-color: blue;
    border: 5px solid lightgrey;
}

#table-r1-c3 {
	background-color: green;
    border: 5px solid lightgrey;
}

#table-r2-c1 {
	background-color: yellow;
    border: 5px solid lightgrey;
}

#table-r2-c2 {
	background-color: orange;
    border: 5px solid lightgrey;
}

#table-r2-c3 {
	background-color: purple;
    border: 5px solid lightgrey;
}

.footer {
	text-align:center;
	color: black;
        clear:both;
        margin: 3%;
}

#footer-text {
	color: black;
	font-size: 14px;
}